/* M O B I L E  V I E W*/

@font-face {
    font-family: titles;
    src: url(ClaireHandBold.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: titles;
    letter-spacing: 2px;
    color: white;
    font-size: 1.2em;
}

p{font-family: "Helvetica";
    letter-spacing: 2px;
    color: white;
}
a{font-family: titles;
    font-size: 0.8em;
}
/*Black text*/

.bookindex, .bookindexwhite {
    width: 70%;
    display:inline-block;

  }

.bookbut, .bookbutwhite{
    width: 52%;
    padding-right: 0px;
}

.bookindex:hover {
    background-image: url(../img/buthover.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 3%;
    background-position: center;
    background-size: contain;
}
.bookindexwhite:hover{
    background-image: url(../img/white_flash.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 3%;
    background-position: center;
    background-size: contain;
}
body {
    background-color: #f3d102;
    font-family: "Helvetica";
    margin: 0 0 50px;
    padding: 25px;
}

/*SVG ANIMATED PICTURE ON MAIN PAGE*/


svg {
    width: 100%;
}

.book {
    width: 30%
}

.path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 2.5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/*Header on MOBILE*/
.homebut {
    display: block;
    margin: auto;
    width: 40%;
}


/*Footer icons*/

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 5em;
    height: 50px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
}

.blackfb, .blackinst{color: black;
}

.friends {
    width: 40%;
    padding-top: 10px;
}

.logo {
    width: 70%;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}



/*What is garn subpage on MOBILE*/

.whatisgarnbody {
    background-color: #d86200;
}

.whatisgarntitle {
    text-align: center;
    padding-bottom: 0px;
        padding-top: 30px;
}

.aboutgarnwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video{
    z-index: 1;
}

 .butik {
        color: white;
    text-align: justify;
     padding: 1em;
     padding-top:0;
}

.butiktext{
    text-align: justify;
    letter-spacing: 0;
    margin-top:0;
}


/*BURGER MENU MOBILE*/

/*https://codepen.io/jlnljn/pen/LkXoBb?limit=all&page=2&q=burger+menu*/

span {
    text-transform: none;
    opacity: 5;
    font-weight: 300;
    font-size: 12px;
}

#burger {
    display: none;
}
.spanwhite{background: white;
}
label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}

label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
}

label span:first-child {
    top: 3px;
}

label span:last-child {
    top: 16px;
}

body label:hover {
    cursor: pointer;
}

/* burger button movement 'animation' on MOBILE */

body input:checked + label span {
    opacity: 0;
    top: 50%;
}

body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

.pictext {
    text-align: center;
    ;
}

.cmt {
    width: 20%;
    padding: 5px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
    /*https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css
   -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(2px 2px 2px #999)*/;
}

/*https://codepen.io/Remedy/pen/ZYJrpp*/
.cmt:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*.cmt:hover {
	-webkit-filter: drop-shadow(0px 0px 8px #f3d102);*/


nav {
    background: #f4afc2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .0s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 2;

}

/* this > sign is a child selector, which means it only select elements inside parent one, in this case - only ul inside nav*/

ul {
    padding-left: 0px;
    position: fixed;
    margin: 0px;
    text-align: left;
    top:5px;
    ;
}

nav > ul > li {
    opacity: 0;
    transition: 0s;
    transition-delay: 0s;
}

li {
    list-style-type: none;
}

a {
    float: none;
   margin-right: 0;
    display: block;
    text-decoration: none;
    color: black;
}

nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 400%;
}

nav > ul > li > .pictext {
       display: none;
    }

body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0s;
}

body input:checked ~ nav > ul > li > .pictext {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #020304;
        font-weight: 700;
        font-family: sans-serif;
        float: left;

    }



}

/*BOOKING BUTTON*/

.bookingbutton {
    width: 100px;
    padding: 1px;
    margin-top: 10px;
    cursor: pointer;
}

/*FOOTER*/

.foot {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: -1;
}

/*Mia and Malu subpage on MOBILE*/

.miamaluebody {
    background-color: #187552;
}

.instaicon {
    width: 8%;
}

.mmcontainer {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.malue {
    float: left;
    position: relative;
    width: 50vw;
    height: 100vh;
}

.mia {
    float: left;
    width: 50vw;
    height: 100vh;
}

.description {
    color: white;
    font-size: 0.9em;
}


/*Join us subpage on MOBILE*/

.widgetholder {
    max-width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

/*Contact page on MOBILE*/

.contactwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mappic{width: 100%}
.contactbody{background-color:#32353a;}

/*Prices page on MOBILE*/

#toggle1,
#toggle2,
#toggle3 {
    display: none;
}
.pricesbody{background-color: #0971c4;}
.buttonforhair { cursor: pointer;
   width: 40%;
}
.buttonforhair:hover {  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  .hairprice {
      font-size: 0.8em;
font-family: "Helvetica";}
.hairtitle{font-size: 1em;}
.gifcut{width: 60%;}
.hair{
    padding-top: 5px;
    text-align: center;
}

#priceListColor, #pricelistCut, #pricelistColorCut{
    padding-left: 20px;
    padding-right: 20px;
}

p.hairprice{
    margin-top: 0;
}

h1.hairtitle{
    margin-bottom: 0;
    font-size:  0.75em;
}





/*DOODLES*/
.doodwrap{display: flex;
flex-direction: column;
padding-top: 20%;}

.dood1,.dood3{display: flex;
flex-direction: row;
flex-wrap: nowrap;
    flex-basis: auto;
}
.dood2{display: flex;
flex-direction: row;
flex-wrap: nowrap;
    flex-basis: auto;}
.doodsize{width: 20%;
  filter: contrast(150%);
    animation: loadingdoodles 2s ease-in-out 2s forwards;
    opacity:0;
}

@keyframes loadingdoodles{
    to{
        opacity:1;
    }

}

.dryer{flex:1;}
.lava{flex: 1;}
.svgcontainer { flex: 2;
}

/*seperate doodles*/
#pacman{
    width: 30%;
    position: relative;
    bottom: 10%;
    left:30%;
    transform: rotate(-10deg);
}
#comb{
     width: 50%;
    position: relative;
    transform: rotate(30deg);
}
#scissor1{position: relative;
    width: 40%;
transform: rotate(240deg);
left: 65%;
}
#scissor2{position: relative;
    width: 80%;
transform: rotate(170deg);
    right: 150%;
    bottom: 50%;
}
#lavalamp{position: relative;
    width: 13%;
left: 110%;
    bottom: 10%;
}

#hairdryer{position: relative;
    width: 43%;
    transform: rotate(10deg);
left: 80%;
bottom:}

#disco{width: 40%;
bottom: 25%;}
#motorbike{
width: 50%;
    position:relative;
    left: 105%;
    transform: rotate(-20deg);
    bottom: 22%;
}
#picturedoodle{
    width: 25%;
    position: relative;
    left: 70%;
    top: 40%;
}

#bubble{
    width: 50%;
    position: relative;
    bottom: 10%;
    left:30%;
    transform: rotate(-20deg);

}

#hairdoodle{
    width: 30%;
    position: relative;
    right: 10%;
    top: 30%;

}


#disco{position: relative;
    width: 28%;

}

#woman{position: relative;
    width: 30%;
right: 10%;
top: 5%; }
#heart{width: 50%;
position: relative;
right: 55%;
bottom:}

.rockhand{width: 8%;
float: left;
position: absolute;
padding-left: 15px;
}

.hairclip{width: 5%;
    align-self: center;
position: absolute;}

.hairclip2{
    float: right;
    width: 5%;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.shakeyourbody{
    -webkit-animation: shake 1s ease-in-out 0.1s infinite alternate;
}

@keyframes shake {
 from {
    transform: rotate(10deg);
 }
 to {
   transform-origin:center center;
   transform: rotate(-10deg);
 }

}

/* L A P T O P  V I E W */

@media (min-width: 600px) {
    .book {
        width: 30%
    }
.doodwrap{display: flex;
flex-direction: column;
    padding-top: 0;}
    /*header*/

    .headerwrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        padding-bottom: 80px;
    }

    .toplogo{
        position: absolute;
        left: 35vw;
        width: 400px;
    }

    .homebut {
        margin: auto;
        width: 50%;
        padding-top: 80px;
    }


    .logo {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "vid" "abt";
        grid-gap: 2em;
        text-align: center;
    }



    h2 {
        color: white;
        text-align: center;
    }


    .friends {
        width: 20%;
    }

.bookindex, .bookindexwhite {
    width: 28%;
    display: inline-block;
    margin-right: 0;}
    /*BURGER menu on DESKTOP*/
    /*https://codepen.io/jlnljn/pen/LkXoBb?limit=all&page=2&q=burger+menu*/
    span {
        text-transform: none;
        opacity: 3;
        font-weight: 300;
        font-size: 12px;
    }
    #burger {
        display: none;
    }

    label {
        position: fixed;
        top: 40px;
        right: 40px;
        height: 20px;
        width: 15px;
        z-index: 5;
    }

    label span {
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        display: block;
        background: #000;
        transition: .5s;
    }

    label span:first-child {
        top: 3px;
    }

    label span:last-child {
        top: 16px;
    }

    body label:hover {
        cursor: pointer;
    }

    body input:checked + label span {
        opacity: 0;
        top: 50%;
    }

    body input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
    }

    body input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
    }
    .pictext {
        text-transform: uppercase;
        float: left;
        padding: 10%;
    }
    .cmt {
        width: 45%;
        padding-bottom: 0px;
    }
    nav {
        background: #f4afc2;
        z-index: 2;

    }
    a{font-family: titles;
    font-size: 1.3em;
}
    /* this > sign is a child selector, which means it only select elements inside parent one, in this case - only ul inside nav*/


    nav > ul > li {
        opacity: 0;
        transition: 0s;
        transition-delay: 0s;
    }

    li {
        list-style-type: none;
        display: inline;

    }

    nav > ul > li > .pictext {
       display: none;

    }
    body input:checked ~ nav {
        height: 100%;
        transition-delay: 0s;
    ;

    }
    body input:checked ~ nav > ul {
position: fixed;
       top:10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}

    body input:checked ~ nav > ul > li > .pictext {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #020304;
        float: left;

    }

    body input:checked ~ nav > ul > li {
        opacity: 1;
        transition-delay: 0s;
        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
    }

    body input:checked ~ nav > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "vid" "abt";
        grid-gap: 2em;
        text-align: center;
    }


    .friends {
        width: 20%;
    }
    /*Mia and Malu subpage on DESKTOP*/


    /* https://digwp.com/2010/03/wordpress-post-content-multiple-columns/#filter **/
    .instaicon {
        width: 8%;
    }

    .miamaluecontent {
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -moz-column-rule: none;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        -webkit-column-rule: none;
        column-count: 2;
        column-gap: 100px;
        column-rule: none;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-left: 40px;
        text-align: center
    }
    /*Prices page on desktop*/
    .colpric {
        float: left;
        width: 33.33%;
        text-align: center;
        display: block;
        padding-bottom: 60px;
    }

    .title1 {
        border: 1px white solid;
    }

    .firstcolumn {
        align-items: center;
    }
    .title1 {
        border: 1px white solid;
    }



.firstcolumn {
    align-items: center;
}

.colprices {
    color: white;
}


color: white;


.colprices:after {
    content: "";
    display: table;
    clear: both;

}

/*Contact page on DESKTOP*/

.contactwrapper {
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*What is Garn on DESKTOP*/

.aboutgarnwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

    .whatisgarntitle{
        padding-bottom: 0px;
        padding-top: 30px;
    }

.video{
    width:50%;
}

 .butik {
        color: white;
    text-align: justify;
     padding: 1em;
     width: 50%;
      padding-top:0px;
}

.butiktext{
    text-align: justify;
    letter-spacing: 0;
    margin-top: 0;

}

.mappic{width: 85%;}

}
